.registerUser{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: var(--main-color);
    .topSide{
        .logoImg{
            padding: 20px 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            img{
                height: 25px;
                margin-right: 40px;
            }
            .loginButton{
                    padding: 10px 20px;
                    margin-right: 10px;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 12vw;
                    border: none;
                    cursor: pointer;
                    color: white;
                    font-weight: 500;
                    font-size: 18px;
                    background-color: #E50914;    
            }
        }
    }
    .container{
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        
        h1{
            font-size: 40px;
        }
        h4{
            margin: 20px;
        }
        .inputs{
            margin-top:30px ;
            width: 50%;
            height: 50px;
            border-radius: 5px;
            display: flex;
            background-color: white;
            align-items: center;
            justify-content: space-between;
            
            input{
                height: 100%;
                flex: 3;
                border: none;
                padding: 0 10px;
            }
            button{
                height: 100%;
                flex: 1;
                cursor: pointer;
                border: none;
                color: white;
                font-size: 20px;
                font-weight: 500;
                background-color:#E50914;
            }
        }
    }
}