.navbar{
    background-color: var(--second-color);
    font-size: 18px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    .container{
        padding: 0px 50px;
        display: flex;
        align-items: center;
        justify-content: space-between; 
        height: 50px;  
    }
    .left{
        display: flex;
        align-items: center;

        img{
            height: 25px;
            margin-right: 40px;
        }
        span{
            margin-right: 60px;
            cursor: pointer;
        }
    }
    
    .right{
        display: flex;
        align-items: center;
        .icon{
            margin: 0px 15px;
        }

        .userProfile{
            .options{
                display: none;
                background-color: var(--main-color);
                border-radius: 5px;
            }
            &:hover{
                .options{
                    display: flex;
                    flex-direction: column;
                    position: absolute;

                    span{
                        cursor: pointer;
                        padding: 10px;
                    }
                }
            }
        }
    }

}